.team-picker {
	width: 75%;
}

.team-lead {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.save-btn {
	margin-left: 20px;
}

mat-label {
	display: flex;
	align-items: center;
}

mat-icon {
	padding: 0 10px;
}
