nav {
  border-bottom: 1px solid #E4E4E4;
  box-shadow: 0 0 4px rgba(0,0,0,.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 0 5vw;
  padding-right: 60px;

  .nav-item {
    color: gray;
    font-weight: normal;
    transition: color 0.3s ease;
    &:hover {
      font-color: #1c90f3;
    }
  }
}
