<!-- User logged in -->
<div *ngIf="auth.currentUser">
  UserID: {{ auth.currentUserId }} <br>
  DisplayName: {{ auth.currentUser.displayName}} <br>
  <img [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width="50px"> <br>
  <!-- TIP: Call {{ auth.currentUser | json }} to see full Auth object -->
  <!-- {{ auth.currentUser | json }} -->

  <a (click)="logout()">Logout</a>
</div>

<!-- User NOT logged in -->
<div *ngIf="!auth.currentUser">
  <a routerLink="/login">Login</a>
</div>
