@import 'variables';



///// Content


.footer {
  // flex: 1;
  border-top: 1px solid $gray-lightest;
  // padding: 40px;
  min-height: 100px;
  text-align: center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

///// Social Buttons


.btn-social {
  color: #fff;
  &:hover {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
  }
  .btn-block {
    margin-bottom: 10px;
  }

}

.btn-twitter {
  background-color: #55ACEE;
}
.btn-facebook {
  background-color: #3B5998;
}

.btn-github {
  background-color: #333333;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-social.button[disabled] {
  color: #333333;
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: .6;
}
