.loading {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #272c33;
    padding-top: 25vh;
    text-align: center;
    z-index: -1;
    transition: opacity .8s ease-out;
}

app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  h1 {
    font-family: "courier", monospace;
    color: #EEE;
    margin-bottom: 50px;
  }
}
