<div class="login">
  <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
    <h3>Login using your Microsoft Account.</h3>

    <!-- <button mat-raised-button color="primary" (click)="signInWithGoogle()">
      <i class="fa fa-google fa-lg"></i> Connect Google
    </button> -->

    <button mat-raised-button color="primary"
      [disabled]="auth.loggingIn"
      (click)="signInWithMicrosoft()">
      Connect Microsoft
    </button>

    <div *ngIf="auth.loggingIn" class="loader">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  </div>

  <ng-template #alreadyLoggedIn>
    <p class="text-success">
      You are logged in <i class="fa fa-thumbs-up"></i>
    </p>
  </ng-template>
</div>
