nav {
    border-bottom: 1px solid #E4E4E4;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.navbar-brand {
    padding: 0 3em 0 2em;
}

.navbar-menu {
    padding-right: 3em;
}