<ng-container *ngIf="auth.user | async; else login">

  <div class="notification is-success">
    Congrats You logged in without a password!
  </div>

  <button (click)="auth.logout()" class="button">Signout</button>

</ng-container>

<ng-template #login>
  <label for="email" class="label">Passwordless Auth</label><br>
  <input id="email" name="email" type="email" class="input" [(ngModel)]="email">

  <button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink()">Get Login Link</button>

  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>

  <div *ngIf="errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>

</ng-template>


