<hr>
<h1>GIX's Angular FireStarter - Adding-on</h1>
<h2>Includes Angular Material Design </h2>
<h6>see: src/app/gix/gix-mdc-samples/gix-mdc-samples.component.html</h6>
<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>
<hr>

<button mat-raised-button color="primary" class="gix-button-shadow gix-cornecto-button"
  (click)="showNotification('creating clicked')">
  <mat-icon>add</mat-icon>
  <span class="gix-button-cornecto-label">Create</span>
</button>

<button mat-raised-button color="secondary" class="gix-button-shadow gix-cornecto-button">
  <mat-icon>dashboard</mat-icon>
  <span class="gix-button-cornecto-label">Dashboard</span>
</button>

<hr>


<h2>Toast Notifications</h2>

<h3 class="first">Severities</h3>
<button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
<button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
<button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
<p-button (click)="showWarnSticky()" label="Warn Sticky" class="ui-button-warning"></p-button>
<button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>

<hr>
<br>
<h3>Material Resources</h3>
<ul>
  <li>
    <a href="https://material.angular.io/components/button/examples">Angular/Material/Components/button/examples</a>

  </li>
  <li>
    <a href="https://material.io/tools/icons/?icon=history&style=baseline">Material/Icons</a>

  </li>
  <li>
    <a href="https://fontawesome.com/icons?d=gallery">Font Awesome/Icons</a>

  </li>
</ul>
<hr>

<h3>Material Design Icons</h3>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example zoom_in
icon">zoom_in</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example zoomout icon">zoom_out</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example lock icon">lock</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example pan icon">pan_tool</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example payment icon">payment</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example pets icon">pets</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example print icon">print</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example star_rate icon">star_rate</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example turned_in_not
icon">turned_in_not
</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example settings_voice icon">settings_voice</mat-icon>


<hr>
<h2>Font Awesome Icons</h2>
<pre>

  &lt;i 
  class="fas fa-terminal"&gt;
  &lt;/i&gt;
</pre>
<br>
<i class="fab fa-affiliatetheme"></i>
&nbsp;
<i class="fab fa-adn"></i>
&nbsp;
<i class="fab fa-accusoft"></i>
&nbsp;
<i class="fas fa-allergies"></i>
&nbsp;
<i class="fas fa-angullist"></i>
&nbsp;
<i class="fas fa-angle-left"></i>
&nbsp;
<i class="fas fa-angle-right"></i>
&nbsp;
<i class="fas fa-bath"></i>
&nbsp;
<i class="fas fa-file-code"></i>
&nbsp;
<i class="fas fa-laptop-code"></i>
&nbsp;
<i class="fas fa-filter"></i>
&nbsp;
<i class="fas fa-folder"></i>
&nbsp;
<i class="fas fa-project-diagram"></i>
&nbsp;
<i class="fas fa-sitemap"></i>
&nbsp;
<i class="fas fa-user-secret"></i>
&nbsp;
<br>
<i class="fas fa-window-maximize"></i>
&nbsp;
<i class="fas fa-window-close"></i>
&nbsp;
<i class="fas fa-window-restore"></i>
&nbsp;
<i class="fas fa-terminal"></i>
&nbsp;