<div class="box" >
  <div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest mat-card class="example-card">
  <mat-card>
    <mat-card-content>
      <h3>Hello, GUEST</h3>
      <p>Please login to get started...</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" routerLink="/login">Login</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <mat-card class="example-card" *ngIf="auth.user | async as user">
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="avatar">
      </div>
      <mat-card-title>{{ user.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user.team?.name || 'Team Unknown' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span *ngIf="user.team?.lead === user.uid">
        <mat-icon>work</mat-icon>
        <b>Team Lead</b>
      </span>
      <span><mat-icon>email</mat-icon> {{ user.email }}</span>
      <span><b>UID</b> {{ user.uid }}</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

