

    <!-- User logged in -->
    <div class="box" *ngIf="auth.currentUser">
        <h3>Howdy, {{ auth.currentUserDisplayName }}</h3>
        <img class="card-img-top" [src]="auth.currentUser.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
        <p class="text-truncate">UID: {{ auth.currentUserId }}</p>
        <button class="button" (click)="logout()">Logout</button>

   </div>

    <!-- User NOT logged in -->
    <div class="box" *ngIf="!auth.currentUser">
        <h3>Howdy, {{ auth.currentUserDisplayName }}</h3>
        <p class="card-text">Login to get started...</p>
        <button class="button" routerLink="/login">Login</button>

    </div>
