<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <a mat-button routerLink="/" matTooltip="LeaderBoard">
        <mat-icon class="icon">school</mat-icon>
        LeaderBoard
      </a>
      <span class="spacer"></span>
      <a mat-button (click)="logout()" matTooltip="Logout"
        *ngIf="auth.user | async; else authenticated">
        <mat-icon class="icon">exit_to_app</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="content"
    [class.fix-content-top]="mobileQuery.matches">
    <mat-sidenav #snav
      [mode]="mode"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/">
          <mat-icon class="icon">home</mat-icon>Home
        </a>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          routerLink="/profile/">
          <mat-icon class="icon">person</mat-icon>Ge
        </a>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          routerLink="/profile/Y2FlYmU0YmItMTkyYi00NGQwLTljYmQtYjEyODJmNjVjZTdl.NDU3ZDU2ODUtMDQ2Ny00ZDA1LWIyM2ItOGY4MTdhZGRhNDdj">
          <mat-icon class="icon">person</mat-icon>Aron
        </a>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          routerLink="/profile/N2ZkNDhiODctYjBkMy00ODVmLWFlMjktZjI1MGZlNDBiNDI3.NDU3ZDU2ODUtMDQ2Ny00ZDA1LWIyM2ItOGY4MTdhZGRhNDdj">
          <mat-icon class="icon">person</mat-icon>Yanny
        </a>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          routerLink="/tasks">
          <mat-icon class="icon">group</mat-icon>Team
        </a>
        <a mat-list-item [routerLinkActive]="['active-menu']"
          routerLink="/quests">
          <mat-icon class="icon">dashboard</mat-icon>Quests
        </a>
        <a mat-list-item *ngIf="auth.isAdmin | async"
          [routerLinkActive]="['active-menu']"
          routerLink="/admin">
          <mat-icon class="icon">whatshot</mat-icon>Administrator
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #authenticated>
  <a mat-button routerLink="/login">
    <mat-icon class="icon">person</mat-icon>
    Login
  </a>
</ng-template>