@import '~@angular/material/theming';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  flex: 1;
  margin-top: 0;
}

.sidenav {
  border-right: 1px solid mat-color(mat-palette($mat-gray));
  width: 175px;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.is-mobile .content {
  flex: 1 0 auto;
}

.fix-content-top {
  margin-top: 56px;
}

.icon {
  padding-right: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.active-menu {
  color: mat-color(mat-palette($mat-indigo));
}

a {
  display: flex;
  align-items: center;
}
