<h1>Angular Universal Server Rendered Page</h1>

<p>
  This page is prerendered with Angular Universal and is 100% search engine and linkbot friedly - and highly performant. Give this URL a whirl in the
  <a href="https://cards-dev.twitter.com/validator">twitter-card validator</a>
</p>

<p>Learn all about <a href="https://angularfirebase.com/tag/ssr/">server-side rendering strategies in Angular</a></p>

<h2>Dynamic Firebase Data</h2>

<p>Need SSR with dynamic Firebase data? No problem. Here are some animals I retrieved from Cloud Firestore.</p>

<div *ngFor="let animal of animals" class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img [src]="animal.imgURL" alt="{{ animal.bio }}">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ animal.name }}</strong>
          <br> {{ animal.bio }}
        </p>
      </div>
    </div>
  </article>
</div>