<div class="content" *ngIf="auth.user | async as user">
  <form>
    <h4>Create New Season:</h4>
    <mat-form-field class="season-name">
      <input matInput [formControl]="newSeason">
      <mat-label>Season Name*</mat-label>
      <mat-error *ngIf="newSeason.invalid">{{error}}</mat-error>
    </mat-form-field>

    <button mat-raised-button
      class="save-btn"
      color="primary"
      (click)="addSeason(user)">
      Add Season
    </button>
  </form>

  <hr/>

  <h3>Seasons:</h3>
  <table mat-table [dataSource]="seasons | async">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let season"> {{season.name}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let season"> {{season.created | firestoreDate}} </td>
    </ng-container>

    <ng-container matColumnDef="created_by">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let season"> {{season.created_by}} </td>
    </ng-container>

    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef> Updated </th>
      <td mat-cell *matCellDef="let season"> {{season.updated | firestoreDate}} </td>
    </ng-container>

    <ng-container matColumnDef="updated_by">
      <th mat-header-cell *matHeaderCellDef> Updated By </th>
      <td mat-cell *matCellDef="let season"> {{season.updated_by}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Enabled </th>
      <td mat-cell *matCellDef="let season"> {{season.enabled}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
