<div class="card card-outline-primary">
  <div class="card-block">


    <label>
       <input type="file" (change)="detectFiles($event)">
    </label>

    <button class="btn btn-primary"
            [disabled]="!selectedFiles"
            (click)="upload()">

      Upload Single
    </button>

    <label>
       <input type="file" (change)="detectFiles($event)" multiple>
    </label>


      <button class="btn btn-primary"
              [disabled]="!selectedFiles"
              (click)="uploadMulti()">

        Upload Multiple
      </button>
  </div>
</div>
