<div *ngIf="!auth.currentUser; else alreadyLoggedIn">

<h3>Social Login</h3>

<button (click)="signInWithGithub()" class="btn btn-social btn-block btn-github">
  <i class="fa fa-github fa-lg"></i> Connect GitHub
</button>


<button (click)="signInWithGoogle()" class="btn btn-social btn-block btn-google">
  <i class="fa fa-google-plus fa-lg"></i> Connect Google
</button>

<button (click)="signInWithFacebook()" class="btn btn-social btn-block btn-facebook">
  <i class="fa fa-facebook fa-lg"></i> Connect Facebook
</button>

<button (click)="signInWithTwitter()" class="btn btn-social btn-block btn-twitter">
  <i class="fa fa-twitter fa-lg"></i> Connect Twitter
</button>

</div>

<ng-template #alreadyLoggedIn>
  <p class="text-success">
    Alerady logged in!
  </p>
</ng-template>
