<h3>Social Login</h3>

<a (click)="signInWithGithub()" class="btn btn-github">
  <i class="fa fa-github fa-lg"></i> Connect GitHub
</a>


<a (click)="signInWithGoogle()" class="btn btn-google">
  <i class="fa fa-google-plus fa-lg"></i> Connect Google
</a>


<a (click)="signInWithFacebook()" class="btn btn-facebook">
  <i class="fa fa-facebook fa-lg"></i> Connect Facebook
</a>

<a (click)="signInWithTwitter()" class="btn btn-facebook">
  <i class="fa fa-twitter fa-lg"></i> Connect Facebook
</a>

<h3>Email/Password Login</h3>


<h3>Anonymous Sign In</h3>

<a (click)="signInAnonymously()" class="btn btn-primary btn-block">
    Sign In as Guest
</a>
